
<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div align="center">
<body>
<form action="/login" method="post" >
  <fieldset>
    <legend>Login</legend>
    <table>
     <tr>
         <label>
             <input type="text" name="user">
         </label>
     </tr><br>
     <tr>
         <label>
             <input type="text"name="password">
         </label>
     </tr><br>
     <tr>
         <label>
             <button class="btn btn-primary custom-btn">login</button>
         </label>
     </tr>

    </table>
  </fieldset>

</form>
</body>
</div>
</html>